@page {
  size: a4 portrait;
  margin: 25mm 22mm 25mm 22mm;
  counter-increment: page;
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  white-space: pre;
  color: grey;
  /*
  @top-left {
      content: '© 2018 My Company';
  }
  */
  @top-center {
      content: string(chapter);
  }
  @top-right {
      content: 'Page ' counter(page);
  }
}

.myred {
  color: rgb(172, 15, 15);
}

